<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
  
  	<%= f.label :remember_me %>
	<span class="span-checkbox"><%= f.check_box :remember_me %></span>		  
	
  <% end -%>				
  <div><%= f.submit "Login" %></div>
<% end %>